# --- Variables para la Base de Datos ---
POSTGRES_USER=postgres # no modificar
POSTGRES_PASSWORD="<contraseña>"
POSTGRES_DB="<nombre DB>"
 
# --- Variables IBM MODEL GATEWAY ---
MODEL_GATEWAY_URL="https://ca-tor.ml.cloud.ibm.com/ml/gateway/v1"
MODEL_GATEWAY_APIKEY="<api key model gateway>"
