services:
  db:
    image: pgvector/pgvector:pg16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: huemulsolutions/wisecore-backend-dev:latest
    platform: linux/amd64
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      ALEMBIC_DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      SECRETS_PROVIDER: local
      LOCAL_SECRETS_FILE: /secrets/local_secrets.json
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "alembic upgrade head &&
            gunicorn -k uvicorn.workers.UvicornWorker src.main:app --bind 0.0.0.0:8080"
    volumes:
      - ./secrets:/secrets

  frontend:
    image: huemulsolutions/wisecore-frontend-dev:latest
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

  worker:
    image: huemulsolutions/wisecore-backend-dev:latest
    platform: linux/amd64
    restart: always
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      ALEMBIC_DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      SECRETS_PROVIDER: local
      LOCAL_SECRETS_FILE: /secrets/local_secrets.json
    depends_on:
      db:
        condition: service_healthy
      backend:
        condition: service_started
    command: >
      sh -c "uvicorn src.worker.main:app --host 0.0.0.0 --port 8081"
    volumes:
      - ./secrets:/secrets

volumes:
  postgres_data:
